$grey : grey;
$white: black;
$black : black;

.container {
    display: grid;
    grid-template-rows: 80vh repeat(2, 40vw) repeat(3, min-content);
    grid-template-columns: [full-start] repeat(6, [col-start] minmax(min-content, 20vw) [col-end]) [full-end];
}

